<div class="textDiv">
    <h1 class="homeText">Домашняя страница</h1>
</div>

<style>
    .textDiv {
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .homeText {
        text-align: center;
        margin: auto;
    }
</style>